node_modules
web/static/
Pip*
Pipfile*
__pycache__
.idea
.vscode
celerybeat*
.local
*.log
*.log.*
.ash_history
.bash_history
.python_history
.coverage
.cache
web/media/*
htmlcov
venv
backup
.crt
.key
build
