image:
  name: docker/compose:latest

services:
  - docker:19-dind

stages:
  - test
  - build

variables:
  # use overlays driver for improved performance
  DOCKER_DRIVER: overlay2
  DOCKER_TLS_CERTDIR: ""

  DOCKER_REGISTRY: ""
  DOCKER_TAG: $CI_COMMIT_REF_SLUG

  # Use Docker BuildKit for better caching and faster builds
  DOCKER_BUILDKIT: 1
  BUILDKIT_INLINE_CACHE: 1
  COMPOSE_DOCKER_CLI_BUILD: 1

  COVERAGE_THRESHOLD: 95


formatter-check:
  image: python:3.9.9-alpine
  stage: test
  only: [branches]
  script:
    - pip install --upgrade pip flake8 black isort
    - cd web
    - flake8 .
    - isort . --check
    - black . --check

tests:
  only: [branches]
  stage: test
  coverage: '/TOTAL.*\s+(\d+%)$/'
  script:
    - docker-compose build
    - docker-compose run --rm --entrypoint="" web python manage.py makemigrations --check
    - docker-compose run --entrypoint="/test.sh" -e COVERAGE_THRESHOLD=$COVERAGE_THRESHOLD web
    - docker cp $(docker-compose ps -qa web):/usr/src/web/coverage.xml .
  artifacts:
    reports:
      coverage_report:
       coverage_format: cobertura
       path: coverage.xml
