{% extends "admin/base.html" %}
{% load static i18n  %}

{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a>&emsp;
    <a target="_blank" style="color:black" href="{% url 'schema-swagger-ui' %}">
        <img width="25" src="{% static 'drf-yasg/swagger-ui-dist/favicon-32x32.png' %}">&nbsp;<b>Swagger</b>
    </a>
</h1>
{% endblock %}

{% block extrahead %}
<link rel="shortcut icon" href="{% static 'main/favicon.png' %}"/>
{% endblock %}

